.container.supply-container {
  margin-top: 20px;
}

.card {
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 20px;
}

.filter select,
.input-group input {
  border-radius: 5px;
}

.input-group-text {
  background-color: transparent;
  border: none;
}

.table {
  margin-top: 20px;
}

.btn-primary {
  background-color: #2A76B2;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}


.btn i {
  margin-right: 5px;
}

@media (max-width: 576px) {
  .input-group {
    flex-direction: column;
    align-items: flex-start;
  }

  .input-group-text {
    margin-top: 10px;
  }
}

.indicator {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  margin: auto;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); 
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
  border: 2px solid white; 
}


